* {
  font-family: 'Padauk', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
}

h1.text-center {
  font-size: 8vw;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

p.text-center {
  font-size: .7em;
  margin: 5px;
}



.input-group {
  padding: 0;
}

#myInput:focus {
  box-shadow: none;
  outline: none;
  border-color: #fff;
}

#search {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div.text {
  width: 70%;
  position: relative;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.list-group-item{
  border: none;
  outline: none;
}
div.list-group-item i {
  right: -8px;
  position: relative;
  float: right;
}

@media (prefers-color-scheme: light) {
  body {
    font-size: 1.2em;
    background-color: #eeeeee;
  }
  #navbar {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #eee;
    z-index: 1;
  }
  .list-group-item.list-group-item-action {
    font-size: .8em;
    background-color: #fff;
    border-radius: 7px;
  }
  .list-group-item.list-group-item-action:hover, .list-group-item.list-group-item-action:focus {
    background-color: #ffffff;
  }
  .list-group-item.list-group-item-action.active {
    background-color: #ddd;
    color: #000000;
  }
  #myInput {
    background-color: #fff;
    border-color: #555;
  }
  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

/* Music Screen */

@media (prefers-color-scheme: dark) {
  body {
    font-size: 1.2em;
    background-color: #222222;
    color: white;
  }
  #navbar {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1;
  }
  .list-group-item.list-group-item-action {
    font-size: .8em;
    background-color: #000000;
    color: #fff;
    border-radius: 7px;
  }
  .list-group-item.list-group-item-action:hover, .list-group-item.list-group-item-action:focus {
    background-color: #000000;
    color: #ffffff;
  }
  .list-group-item.list-group-item-action.active {
    background-color: #111111;
    border: 1px solid black;
  }
  #myInput {
    background-color: #222222;
    border-color: #eee;
  }
  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: .5s;
  }
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

.overlay .close {
  width: 100%;
  color: #ff3333!important;
  position: absolute;
  bottom: 15px;
  text-align: center;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.list-group-item.list-group-item-action:focus, 
.list-group-item.list-group-item-action.active, 
.list-group-item.list-group-item-action:visited,
.list-group:focus,
.list-group.active,
.list-group:visited {
  border: none;
  outline: none;
}

/* Using flex with the column direction to 
   align items in a vertical direction */

.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.track-art {
  height: 120px;
  width: 120px;
  background-image: URL("../images/uks1.png");
  background-position: center;
  background-size: cover;
  border-radius: 15%;
}

/* Changing the font sizes to suitable ones */

.track-name {
  margin-top: 30px;
  font-size: 1.4rem;
}

/* Using flex with the row direction to 
     align items in a horizontal direction */

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track, .prev-track, .next-track {
  font-size: .5em;
  padding: 25px;
  opacity: 0.8;
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

/* Change the opacity when mouse is hovered */

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 2.0;
}

/* Define the slider width so that it scales properly */

.slider_container {
  font-size: .9em;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 3px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */

.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #11ff55;
  cursor: pointer;
  border-radius: 50%;
}

/* Change the opacity when mouse is hovered */

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time, .total-duration {
  padding: 10px;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
}

/* Change the mouse cursor to a pointer 
     when hovered over */

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}